@use "../mixins/responsive.scss" as *;
@use "../mixins/pseudo.scss" as *;

.principal {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  background-color: #2d2641;

  @include responsive(laptop) {
    flex-direction: row-reverse;
    width: 1440px;
  }

  &__photo {
    @include responsive(laptop) {
      position: relative;
      bottom: -5rem;
      left: -5rem;
      width: 100%;
    }
  }
  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    background-image: url("/assets/images/bg-pattern-intro-left-desktop.svg");
    background-color: #2d2641;
    background-repeat: no-repeat;
    background-position: left;
    background-size: 7rem;
    color: white;
    @include responsive(laptop) {
      margin-top: 5rem;
      padding-left: 10rem;
      padding-right:20rem;
      text-align: left;
      align-items: left;
    }
  }
  &__title {
    font-size: 2.9rem;
  }
  &__text {
    font-size: 1.3rem;
  }
  &__botton {
    border: 1px solid white;
    width: 140px;
    height: 40px;
    padding: 0.6rem;
    margin-top: 2rem;
    margin-bottom: 4rem;
    @include responsive(laptop) {
      text-align: center;
    }
  }
}
